*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* ====================== */

.header {
  padding-top: 50px;
}

.headerTitle {
  margin-bottom: 30px;
}

.searchForm {
  margin-right: 10px;
}

.headerWrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.favoritesBtn {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
}

.searchIcon::after {
  content: "\01F50D";
  display: block;
  font-size: 20px;
}

.searchWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.recentSearches {
  display: flex;
  justify-content: center;
}

/* =========== beerList =========== */

.beer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.beerImg {
  margin-right: 30px;
}

.beerTitle {
  font-size: 30px;
  color: rgb(228, 87, 36);
  margin-bottom: 30px;
  cursor: pointer;
}

.beerABV {
  font-size: 20px;
  margin-bottom: 20px;
}

.beerDescription {
  font-size: 20px;
  margin-bottom: 20px;
}

.beerTips {
  font-size: 20px;
}

/* ========= loadMoreBtn ========== */
.loadMoreBtn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: rgb(127, 127, 245);
}

/* ===== dynamic classes ==== */

.is-hidden {
  display: none;
}

.emptyProperties {
  text-align: center;
  color: blue;
  font-size: 20px;
}

/* ========== scrollArrow ========= */

.scrollUp {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 1000;
  color: #dcdcdc;
  cursor: pointer;
  visibility: hidden;
  border-radius: 50px;
  box-shadow: inset 0 0 0 4px #dcdcdc;
  opacity: 0;
  transition: 0.2s;
  transform: translateY(25px);
}

.scrollUp::before {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 40px;
  font-weight: 900;
  content: "\2191";
}

.scrollUp:hover {
  color: orange;
}

.scrollUp--active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.scrollUpPath {
  box-sizing: border-box;
  fill: none;
  stroke: orange;
  stroke-width: 4px;
  transition: 0.2s;
}

/* =========== dropdown ============= */

.dropdown {
  position: relative;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-60%);
}

.dropdownContent p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdownContent p:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* =========== favorites =========== */
.addToFavoriteBtn-added {
  background-color: red;
}

.emptyModal {
  font-size: 40px;
}

/* ================ popup modal ========= */

.lightbox {
  display: none;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

.lightbox.is-open {
  display: block;
  visibility: visible;
  pointer-events: initial;
}

.backdrop {
  position: fixed;
  background-color: rgba(128, 128, 128, 0.7);
  width: 100%;
  height: 100%;
  padding: 20px 20px 30px 20px;
}

.close-icon {
  width: 16px;
  height: 16px;
}

.icon-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  top: 20px;
  right: 22px;
  margin-top: 10px;
  margin-right: 10px;
}

.icon-wrapper:hover {
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.js-modal-info {
  background: #e5e5e5;
  border-radius: 8px;
  padding: 20px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
}

.modal-wrapper {
  background-color: cornsilk;
  padding: 15px;
  /* border-radius: 20px; */
  height: 700px;
  width: 700px;
  overflow-y: scroll;
}
